<img class="for_info_only half" title="mirror" src="{{MEDIA}}mirror.png" alt="mirror" style="float: left;"/>



<p>
    让我们继续研究单词。给您两串用逗号隔开的单词。
    试着找出这两个词串之间的共同点。同一字符串中的单词不会重复。

</p>

<p>
    您的函数应找出两个字符串中出现的所有单词。
    结果必须表示为按<strong>字母顺序</strong>用逗号分隔的单词字符串。
</p>


<p>
   <strong>输入：</strong>两个参数字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出</strong>常用词字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>举例说明</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>如何使用：</strong>
    在这里您可以学习如何处理字符串和集合。
    这些知识对语言分析非常有用。
</p>


<p>
    <strong>前提条件</strong>
    <ul>
        <li>每个字符串包含不超过10个单词；</li>
        <li>所有单词用逗号分隔；</li>
        <li>所有单词均由小写拉丁字母组成。</li>
    </ul>
</p>
