<img class="for_info_only half" title="mirror" src="{{MEDIA}}mirror.png" alt="mirror" style="float: left;"/>



<p>
    Продовжимо вивчати слова. Вам дано два рядки зі словами, розділеними комами.
    Спробуйте знайти, що спільного між цими рядками. Слова в одному рядку не повторюються.

</p>

<p>
    Ваша функція повинна знайти всі слова, які зустрічаються в обох рядках.
    Результат повинен бути представлений у вигляді рядка слів, відокремлених комами в <strong>алфавітному порядку</strong>.
</p>


<p>
   <strong>Вхідні дані:</strong> Два аргументи у вигляді рядків <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Спільні слова у вигляді рядка <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Як це використовується:</strong>
    Тут ви можете навчитися працювати з рядками та множинами.
    Ці знання можуть бути корисними для лінгвістичного аналізу.
</p>


<p>
    <strong>Початкові умови:</strong>
    <ul>
        <li>Кожен рядок містить не більше 10 слів;</li>
        <li>Всі слова відокремлено комами;</li>
        <li>Усі слова складаються з маленьких латинських літер.</li>
    </ul>
</p>
