<img class="for_info_only half" title="mirror" src="{{MEDIA}}mirror.png" alt="mirror" style="float: left;"/>



<p>
    Poursuivons l'examen des mots. On vous donne deux chaînes de mots séparés par des virgules.
    Essayez de trouver ce qui est commun à ces chaînes. Les mots d'une même chaîne ne se répètent pas.

</p>

<p>
    Votre fonction doit trouver tous les mots qui apparaissent dans les deux chaînes.
    Le résultat doit être représenté sous la forme d'une chaîne de mots séparés par des virgules dans l'<strong>ordre alphabétique</strong>.
</p>


<p>
   <strong>Entrée:</strong> Deux arguments sous forme de chaînes de caractères <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Les mots communs sous forme de chaîne <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Comment on l'utilise:</strong>
    Vous apprendrez ici à travailler avec des chaînes et des ensembles.
    Ces connaissances peuvent être utiles pour l'analyse linguistique.
</p>


<p>
    <strong>Conditions préalables:</strong>
    <ul>
        <li>Chaque chaîne ne contient pas plus de 10 mots;</li>
        <li>Tous les mots sont séparés par des virgules;</li>
        <li>Tous les mots sont composés de lettres latines minuscules.</li>
    </ul>
</p>
