<img class="for_info_only half" title="mirror" src="{{MEDIA}}mirror.png" alt="mirror" style="float: left;"/>



<p>
    Let's continue examining words. You are given two strings with words separated by commas.
    Try to find what is common between these strings. The words in the same string don't repeat.

</p>

<p>
    Your function should find all of the words that appear in both strings.
    The result must be represented as a string of words separated by commas in <strong>alphabetic order.</strong>
</p>


<p>
    <strong>Input:</strong> Two arguments as strings <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> The common words as a string <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>How it is used:</strong>
    Here you can learn how to work with strings and sets.
    This knowledge can be useful for linguistic analysis.
</p>


<p>
    <strong>Preconditions:</strong>
    <ul>
        <li>Each string contains no more than 10 words;</li>
        <li>All words are separated by commas;</li>
        <li>All words consist of lowercase latin letters.</li>
    </ul>
</p>
