<img class="for_info_only half" title="mirror" src="{{MEDIA}}mirror.png" alt="mirror" style="float: left;"/>



<p>
    Lassen Sie uns mit der Untersuchung von Wörtern fortfahren. Sie erhalten zwei Zeichenketten mit Wörtern, die durch Kommas getrennt sind.
    Versuchen Sie herauszufinden, welche Gemeinsamkeiten zwischen diesen Zeichenfolgen bestehen. Die Wörter in derselben Zeichenfolge wiederholen sich nicht.

</p>

<p>
    Ihre Funktion sollte alle Wörter finden, die in beiden Zeichenfolgen vorkommen.
    Das Ergebnis muss als Zeichenkette von durch Kommas getrennten Wörtern in <strong>alphabetischer Reihenfolge</strong>dargestellt werden <strong>.</strong>
</p>


<p>
   <strong>Eingabe:</strong> Zwei Argumente als Zeichenketten <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Die gemeinsamen Wörter als Zeichenkette <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Wie sie verwendet wird:</strong>
    Hier erfahren Sie, wie Sie mit Strings und Sets arbeiten können.
    Dieses Wissen kann für die linguistische Analyse nützlich sein.
</p>


<p>
    <strong>Vorbedingungen:</strong>
    <ul>
        <li>Jede Zeichenkette enthält nicht mehr als 10 Wörter;</li>
        <li>Alle Wörter sind durch Kommas getrennt;</li>
        <li>Alle Wörter bestehen aus lateinischen Kleinbuchstaben.</li>
    </ul>
</p>
