<img class="for_info_only half" title="mirror" src="{{MEDIA}}mirror.png" alt="mirror" style="float: left;"/>



<p>
    Kontynuujmy analizę słów. Otrzymują Państwo dwa ciągi ze słowami oddzielonymi przecinkami.
    Proszę spróbować znaleźć to, co jest wspólne między tymi ciągami. Słowa w tym samym ciągu nie powtarzają się.

</p>

<p>
    Funkcja powinna znaleźć wszystkie słowa występujące w obu ciągach.
    Wynik musi być przedstawiony jako ciąg słów oddzielonych przecinkami w <strong>kolejności alfabetycznej</strong>.
</p>


<p>
   <strong>Dane wejściowe:</strong> Dwa argumenty jako ciągi znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Dane wyjściowe:</strong> Wspólne słowa jako ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Jak jest używany:</strong>
    Tutaj dowiedzą się Państwo, jak pracować z ciągami i zbiorami.
    Wiedza ta może być przydatna w analizie językowej.
</p>


<p>
    <strong>Warunki wstępne:</strong>
    <ul>
        <li>Każdy ciąg zawiera nie więcej niż 10 słów;</li>
        <li>Wszystkie słowa są oddzielone przecinkami;</li>
        <li>Wszystkie słowa składają się z małych liter alfabetu łacińskiego.</li>
    </ul>
</p>
